.naslov{
    text-align: center;
    color: black;
    background-color: aqua;
    padding: 1.5rem;
}

.home{
    text-align: center;
    background-color: rgb(241, 237, 237);
    margin: 1,5rem ;
    

}

.task{
    margin-top: 1.5 rem;
    padding: 1.5 rem;
    background-color: rgb(241, 237, 237);
}
.form {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    align: center;
    
}
.nas{
    margin: 1.5rem;
}

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.donira{
    
    border: 2px solid black;
    border-radius: 2px;
    background-color: unset;
    cursor:pointer;
}

.donira:hover{
    background-color: black;
    color: white;
}

.tabla{
    border: 1 px;
}