{% extends 'base.html' %} 

{% block head%}

{% block title %} Home {% endblock %}

<link rel="stylesheet" href="static/form.css">


{% endblock %}




{% block body %} 
<h3 class="nas">Doniraj </h3> <br>
<div  class="form" background-color: yellow>
<form action="/doniraj" method='post'>
   <div class="div1"> <label for="ime" >Ime</label><br>
    <input type="text" name="ime"><br></div>
<hr width="25%">
    <div class="div2"><label for="prezime" >Prezime</label><br>
    <input type="text" name="prezime"><br></div>
   <hr width="25%"> 
    
    <div class="div3"> <label for="donacija" class="donacija">Donacija</label><br>
    <input type="number" name="donacija"> kn <br></div>
  <hr width="25%">  
    <div class="div4"></div>
    <input type="submit" name="donira"></div>
    
</form>
</div>


{% endblock %}