{% extends 'base.html' %} 

{% block head%}

{% block title %} Home {% endblock %}

<link rel="stylesheet" href="static/form.css">
<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

{% endblock %}




{% block body %} 
<div class="container">

  <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend align="center">Unos zaposlenika</legend> <br> <hr>

<!-- Text input-->

<div class="form-group" width="50%">
<span class="input-group-addon"><i class="fa fa-user" ></i></span>
<label class="col-md-4 control-label"><b>Ime</b></label>  
  
<input  name="ime" placeholder="Ime" class="form-control"  type="text">
  

</div> <br>

<!-- Text input-->

<div class="form-group">
<span class="input-group-addon"><b><i class="fa fa-user" ></i> Prezime</b></span>
<label class="col-md-4 control-label" ></label> 
  

<input name="prezime" placeholder="Prezime" class="form-control"  type="text">
  </div><br>


<!-- Text input-->

     <div class="form-group">
     <span class="input-group-addon"><i class="fa fa-birthday-cake"></i><b> Datum rođenja</b></span>
<label class="col-md-4 control-label"> </label>  

<input name="datumrodenja" placeholder="Datum roðenja" class="form-control"  type="date">
  </div><br>



<!-- Text input-->
     
   <div class="form-group">
     <span class="input-group-addon"><i class="fa fa-intersex"></i><b> Spol</b></span>
<label class="col-md-4 control-label"> </label>  

<select name="spol" class="form-control selectpicker" >
    
    <option>Muško</option>
    <option >Žensko</option>
        </select>
  </div>
<br>
<!-- Text input-->
    
<div class="form-group">
<span class="input-group-addon"><i class="fa fa-phone"></i></span>
<label class="col-md-4 control-label"><b>Kontakt</b> </label>  

      
<input name="kontakt" placeholder="Kontakt" class="form-control" type="text">
  </div><br>


<!-- Text input-->


<!-- Select Basic -->
 
<div class="form-group"> 
<span class="input-group-addon"><i class='fa fa-plus-square' style='color: red' ></i></span>
<label class="col-md-4 control-label">Odjel</label>
  
     
  <select name="odjel" class="form-control selectpicker" >
    
    <option>Ortopedija</option>
    <option>Traumatologija</option>
    <option >Kirurgija</option>
        </select>
</div><br>


<!-- Text input-->
<div class="form-group">
<span class="input-group-addon"><b><i class="fa fa-file-text" style='color: blue' ></i> Titula</b></span>
<label class="col-md-4 control-label" ></label> 
  

<input name="titula" placeholder="Titula" class="form-control"  type="text">
  </div><br>

<!-- Text input-->
<div class="form-group">
<span class="input-group-addon"><i class="fa fa-calendar" ></i></span>
<label class="col-md-4 control-label"><b>Datum zaposlenja</b></label>  
 
      
<input name="datumzaposlenja" placeholder="" class="form-control" type="date">
  </div><br>


<!-- radio checks -->


<!-- Text area -->



<!-- Success message -->


<!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label"></label>
<div class="col-md-4">
  <button type="submit" class="btn btn-warning" >Pošalji <span class="glyphicon glyphicon-send"></span></button>
</div>
</div>

</fieldset>
</form>
</div>
   
</form>
</div>


{% endblock %}